[submodule "vim/pack/packages/start/vim-signify"]
	path = vim/pack/packages/start/vim-signify
	url = https://github.com/mhinz/vim-signify.git
[submodule "zsh/pure"]
	path = zsh/pure
	url = https://github.com/sindresorhus/pure.git
[submodule "zsh/zsh-autosuggestions"]
	path = zsh/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "vim/pack/packages/start/lightline.vim"]
	path = vim/pack/packages/start/lightline.vim
	url = https://github.com/itchyny/lightline.vim.git
[submodule "vim/pack/packages/start/vim-snazzy"]
	path = vim/pack/packages/start/vim-snazzy
	url = https://github.com/connorholyday/vim-snazzy.git
[submodule "vim/pack/packages/start/lightline-bufferline"]
	path = vim/pack/packages/start/lightline-bufferline
	url = https://github.com/mengelbrecht/lightline-bufferline.git
[submodule "vim/pack/packages/start/vim-gitbranch"]
	path = vim/pack/packages/start/vim-gitbranch
	url = https://github.com/itchyny/vim-gitbranch.git
[submodule "iterm/iterm2-snazzy"]
	path = iterm/iterm2-snazzy
	url = https://github.com/sindresorhus/iterm2-snazzy.git
[submodule "emacs/spacemacs"]
	path = emacs/spacemacs
	url = https://github.com/syl20bnr/spacemacs.git
	branch = develop
