[submodule "fonts/FiraCode"]
	path = fonts/FiraCode
	url = https://github.com/tonsky/FiraCode.git
[submodule "vim/pack/packages/start/vim-monokai"]
	path = vim/pack/packages/start/vim-monokai
	url = https://github.com/crusoexia/vim-monokai.git
[submodule "vim/pack/packages/start/vim-signify"]
	path = vim/pack/packages/start/vim-signify
	url = https://github.com/mhinz/vim-signify.git
[submodule "zsh/pure"]
	path = zsh/pure
	url = https://github.com/sindresorhus/pure.git
[submodule "zsh/zsh-autosuggestions"]
	path = zsh/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "vim/pack/packages/start/lightline.vim"]
	path = vim/pack/packages/start/lightline.vim
	url = https://github.com/itchyny/lightline.vim.git
